body{
   background-image: url("./assets/movie-background.jpg");
   background-repeat: none;
   background-position: center;
}
/* ===== HEADER WRAPPER ===== */
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background: #11111163;
  color: white;
}

/* ===== TITLE ===== */
.header-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

/* ===== SEARCH BOX ===== */
.search-box {
  display: flex;
  width: 100%;
  max-width: 600px;
  gap: 10px;
}

/* ===== INPUT ===== */
.search-box input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

/* ===== BUTTON ===== */
.search-box button {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #e50914;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.search-box button:hover {
  background: #b00610 ;
}
/* ===== PAGINATION WRAPPER ===== */
.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

/* ===== BUTTONS ===== */
.pagination-bar button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #b00606ba;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}

.pagination-bar button:hover {
  background: #dd1220ce;
}

.pagination-bar button:disabled {
  background: #444;
  cursor: not-allowed;
  opacity: 0.6;
}

/* ===== PAGE NUMBER ===== */
.page-number {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

/* Spinner */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #333;
  border-top: 6px solid #ffc107; /* bootstrap yellow */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 600px) {
  .search-box {
    flex-direction: column;
  }

  .search-box button {
    width: 100%;
  }

  .header-title {
    font-size: 1.4rem;
  }
}